.listMenu {
    background: var(--menu-bg-color);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    font-family: var(--font);
}

.listMenu li {
    margin : 10px 50px 10px 50px;
}

.liNotification {
    position: relative;
}

.listMenu span {
    color: var(--text-color-invert);
    font-size: 12px;
    font-weight: bold;
    background-color: var(--fail-color);
    border-radius: 50%;
    height: 16px;
    width: 16px;
    text-align: center;
    top: 0;
    border-radius: 50%;
    font-weight: bold;
    position: absolute;
}

.link {
    text-decoration: none;
    color: var(--text-color);
}

.link:hover {
    transition: 0.3s;
    cursor: pointer;
    font-weight: bold;
}